*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Franklin Gothic Medium';
    background-color: #eee;
    color: #333
}

h1{
    font-size: 50px;
    margin: 0px;
    border-bottom: solid 1px #333;
}
p{
    font-style: italic;
    color: #eee;
    
}

#paragraph1{
    background: pink;
    color: #eee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

.fancy{
    background: #222;
    margin: 10px 0 0;
}

/*Descendant Selectors*/
.fancy em{
    color: aqua;
}

div h1 {
    color:hotpink;
}
div h2{
    color:blueviolet;
}

/* Grouping Selectors */
.fancy, .notfancy{
    font-size: 50px;
    padding: 10px;
}