*{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-size: 20px;
}

body{
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: burlywood;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6{
    margin: 10px 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
    letter-spacing: -1px;
    word-spacing: 5px;
    text-align: center;
}

blockquote{
    margin: 0 0 0 30px;
    font-style: italic;
    text-indent: 40px;
    line-height: 1.3;
}

span{
    text-decoration:line-through;
}

em{
    text-transform: capitalize;
}
strong{
    text-transform: lowercase;
    font-weight: bolder;
}
/*
body{
    font-family: 'Franklin Gothic Medium';
    background-color: #eee;
    color: #333
}

h1{
    font-size: 50px;
    margin: 0px;
    border-bottom: solid 1px #333;
}
p{
    font-style: italic;
    
}

#paragraph1{
    background: pink;
    color: #eee;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

.fancy{
    background: #222;
    margin: 10px 0 0;
}
*/
/*Descendant Selectors*/
.fancy em{
    color: aqua;
}

div h1 {
    color:hotpink;
}
div h2{
    color:blueviolet;
}

/* Grouping Selectors */
.fancy, .notfancy{
    font-size: 50px;
    padding: 10px;
}

/* Borders */

.borderBox{
    background: #eee;
    margin: 0 0 20px;
    padding: 20px;
    width: 300px;
}

#firstDiv{
    border: solid 2px hotpink;
}

#secDiv{
    border: dashed 2px hotpink;
}

#thirdDiv{
    border: dotted 2px hotpink;
}

#fourDiv{
    border: double 3px hotpink;
}

#fiveDiv{
    border: dashed 4px hotpink;
}

#sixDiv{
    border: dotted 4px hotpink;
}

#sevenDiv{
    border: double 6px hotpink;
}

#eightDiv{
    border: solid 4px hotpink;
}

code{
    display: block;
    color: #8B008B;
    background: white;
    padding:5px;
    font-size: medium;
}

/* Background Images*/

.background-example{
    height: 200px;
    width: 200px;
    border: solid 4px black;
}

#background-1 {
    background-image: url('bgpt4.jpg');
    background-position: center;
    background-size: 200px 200px;
    color: white;
}
#background-2 {
    background-color: hotpink;
    color: white;
}

/*Styling Forms*/

#container{
    width: 500px;
    margin: 0 auto;
}

form{
    background-color: indigo;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset{
    background-color: deeppink;
    padding: 40px;
    border: solid 2px white;
}

form legend{
    border: solid 2px white;
    background-color: deeppink;
    font-size: 30px;
    color: black;
}

form label{
    color:black;
    font-size: 16px;
    text-transform: uppercase;
}
form input, form textarea{
    display: block;
    margin-bottom: 10px;
    -webkit-font-smoothing:antialiased;
    text-rendering: optimizeLegibility;
}

form input[type='text'], form input[type="email"]{
    padding: 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: solid 2px white;
    background-color: darkorchid;
    width: 330px;
}

form textarea{
    padding: 20px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: solid 2px white;
    background-color: darkorchid;
    width: 300px;
    height: 100px;
}

form input[type="submit"]{
    border: none;
    height: 30px;
    padding: 0 15px;
    border: solid 2px white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background: url("Images/Button+Background.jpg") top left repeat-x;
}

/* Styling Links */

a:link {
    color: indigo;
    text-decoration: none;
}

a:visited {
    color: indigo;
}

a:hover {
    color: deeppink;
    text-decoration: underline;
}

a:active {
    color:white;
}

#link1:hover {
    background-color: violet;
    color: black;
    padding: 0;
    text-decoration: none;
}

#link3 {
    background-color: purple;
    color: white;
    padding: 0;
}

#link3:hover{
    text-decoration: none;
    color: black;
    background: white;
}

#link4:hover {
    color: greenyellow;
}